* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,ul,menu {
  padding-inline-start: 0;
  list-style: none;
}

ol li::marker, ul li::before {
  letter-spacing: 0;
}

.scroll-container > div {
  width: 100%;
}

.container > div {
  width: 100%;
}

.Pixso-canvas-0_1 > div {
  width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body { 
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
}
    
span {
  word-break: break-word;
}

.container {
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_440 {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  background-color: rgba(10, 10, 15, 1);
}

.Pixso-frame-2_441 {
  width: 1440px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%2080'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C255%2C255%2C0.03137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C255%2C255%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
}

.frame-content-2_441 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 0px 40px 0px 40px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_443 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

.frame-content-2_443 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.Pixso-paragraph-2_444 {
  font-size: 24px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_445 {
  font-size: 13px;
  font-family: "Noto Sans SC-Regular";
  font-weight: Regular;
  color: rgba(156, 163, 175, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_446 {
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.Pixso-frame-2_447 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(16, 185, 129, 0.0941176488995552);
}

.frame-content-2_447 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 0px 14px 0px 14px;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_447 {
  position: relative;
  width: auto;
  height: 32px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_447 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(16, 185, 129, 0.20000000298023224);
}

.Pixso-frame-2_448 {
  width: 8px;
  height: 8px;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px 4px 4px 4px;
  background-color: rgba(16, 185, 129, 1);
}

.Pixso-paragraph-2_449 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(16, 185, 129, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_450 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(245, 158, 11, 0.0941176488995552);
}

.frame-content-2_450 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 0px 14px 0px 14px;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_450 {
  position: relative;
  width: auto;
  height: 32px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_450 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(245, 158, 11, 0.20000000298023224);
}

.Pixso-frame-2_451 {
  width: 8px;
  height: 8px;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px 4px 4px 4px;
  background-color: rgba(245, 158, 11, 1);
}

.Pixso-paragraph-2_452 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(245, 158, 11, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_453 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(255, 255, 255, 0.03921568766236305);
}

.frame-content-2_453 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 0px 14px 0px 14px;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_453 {
  position: relative;
  width: auto;
  height: 32px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_453 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 0.10196078568696976);
}

.Pixso-frame-2_454 {
  width: 8px;
  height: 8px;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px 4px 4px 4px;
  background-color: rgba(107, 114, 128, 1);
}

.Pixso-paragraph-2_455 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(156, 163, 175, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-rectangle-2_442 {
  width: 1440px;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 143px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%201'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0.25098039215686274)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
}

.Pixso-frame-2_456 {
  width: 1440px;
  height: 756px;
  position: absolute;
  left: 0px;
  top: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_456 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: flex-start;
  align-content: flex-start;
  padding: 24px 40px 24px 40px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_457 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  background-color: rgba(18, 18, 26, 1);
}

.frame-content-2_457 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_457 {
  position: relative;
  width: 320px;
  height: 240px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_457 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(16, 185, 129, 0.14901961386203766);
}

.Pixso-vector-2_458 {
  width: 100%;
  height: 140px;
  background-image: url(assets/image/gc1img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.Pixso-frame-2_459 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.frame-content-2_459 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 14px 12px 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_460 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_460 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  position: relative;
}

.Pixso-paragraph-2_461 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_462 {
  width: 100%;
  height: 1px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  background-color: rgba(255, 255, 255, 0);
}

.Pixso-frame-2_463 {
  width: auto;
  height: 22px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(16, 185, 129, 0.0941176488995552);
}

.frame-content-2_463 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_464 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(16, 185, 129, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_465 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  font-weight: Regular;
  line-height: 139.9999976158142%;
  color: rgba(156, 163, 175, 1);
  width: 292px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.Pixso-frame-2_466 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_466 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.Pixso-frame-2_467 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 215, 0, 0.0941176488995552);
}

.frame-content-2_467 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_467 {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.stroke-2_467 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 215, 0, 0.20000000298023224);
}

.Pixso-paragraph-2_468 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(255, 215, 0, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_469 {
  width: 100%;
  height: 30px;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20142%2030'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(168%2C85%2C247%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(124%2C58%2C237%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
}

.frame-content-2_469 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_470 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_471 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  background-color: rgba(18, 18, 26, 1);
}

.frame-content-2_471 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_471 {
  position: relative;
  width: 320px;
  height: 240px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_471 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(245, 158, 11, 0.14901961386203766);
}

.Pixso-frame-2_472 {
  width: 100%;
  height: 140px;
  position: relative;
  flex-shrink: 0;
  background-color: rgba(28, 28, 40, 1);
}

.Pixso-frame-2_473 {
  width: 320px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 158, 11, 0.03921568766236305);
}

.frame-content-2_473 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-vector-2_474 {
  width: 32px;
  height: 32px;
  background-image: url(assets/image/loader.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.Pixso-paragraph-2_483 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(245, 158, 11, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_484 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.frame-content-2_484 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 14px 12px 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_485 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_485 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  position: relative;
}

.Pixso-paragraph-2_486 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_487 {
  width: 100%;
  height: 1px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  background-color: rgba(255, 255, 255, 0);
}

.Pixso-frame-2_488 {
  width: auto;
  height: 22px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(245, 158, 11, 0.0941176488995552);
}

.frame-content-2_488 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_489 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(245, 158, 11, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_490 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  font-weight: Regular;
  line-height: 139.9999976158142%;
  color: rgba(156, 163, 175, 1);
  width: 292px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}

.Pixso-frame-2_491 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_491 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.Pixso-frame-2_492 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 255, 255, 0.03921568766236305);
}

.frame-content-2_492 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_492 {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.stroke-2_492 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 0.10196078568696976);
}

.Pixso-paragraph-2_493 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  font-weight: Medium;
  color: rgba(156, 163, 175, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_494 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  background-color: rgba(18, 18, 26, 1);
}

.frame-content-2_494 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_494 {
  position: relative;
  width: 320px;
  height: 240px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_494 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 0.05882352963089943);
}

.Pixso-frame-2_495 {
  width: 100%;
  height: 140px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 40, 1);
}

.frame-content-2_495 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_496 {
  width: 28px;
  height: 28px;
  position: relative;
  flex-shrink: 0;
}

.Pixso-rectangle-2_497 {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
}

.stroke-wrapper-2_497 {
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  width: 75%;
  height: 75%;
}

.stroke-2_497 {
  position: absolute;
  inset: -1.1666666269302368px -1.1666666269302368px -1.1666666269302368px -1.1666666269302368px;
  border-radius: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
  pointer-events: none;
  border-width: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(107, 114, 128, 1);
}

.Pixso-vector-2_498 {
  width: 16.66%;
  height: 16.66%;
  background-image: url(assets/image/Ellipse_2_498.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 29.17%;
  right: 54.17%;
  top: 29.17%;
  bottom: 54.17%;
}

.Pixso-vector-2_499 {
  width: 62.5%;
  height: 40.3%;
  background-image: url(assets/image/Vector_2_499.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 25%;
  right: 12.5%;
  top: 47.2%;
  bottom: 12.5%;
}

.Pixso-paragraph-2_500 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  font-weight: Medium;
  color: rgba(107, 114, 128, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_501 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.frame-content-2_501 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 14px 12px 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_502 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_502 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  position: relative;
}

.Pixso-paragraph-2_503 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_504 {
  width: 100%;
  height: 1px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  background-color: rgba(255, 255, 255, 0);
}

.Pixso-frame-2_505 {
  width: auto;
  height: 22px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(255, 255, 255, 0.03921568766236305);
}

.frame-content-2_505 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_506 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(107, 114, 128, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_507 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  font-weight: Regular;
  color: rgba(156, 163, 175, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_508 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_508 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.Pixso-frame-2_509 {
  width: 100%;
  height: 30px;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 3px 10px 0px rgba(255, 215, 0, 0.30196078431372547) ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20142%2030'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
}

.frame-content-2_509 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_510 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(10, 10, 15, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_511 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(168, 85, 247, 0.0941176488995552);
}

.frame-content-2_511 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_511 {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.stroke-2_511 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(168, 85, 247, 0.20000000298023224);
}

.Pixso-paragraph-2_512 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(168, 85, 247, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_513 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px 16px 16px 16px;
  background-color: rgba(18, 18, 26, 1);
}

.frame-content-2_513 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_513 {
  position: relative;
  width: 320px;
  height: 240px;
  display: flex;
  flex-shrink: 0;
}

.stroke-2_513 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(168, 85, 247, 0.14901961386203766);
}

.Pixso-vector-2_514 {
  width: 100%;
  height: 140px;
  background-image: url(assets/image/Frame_2_514.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.Pixso-frame-2_517 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.frame-content-2_517 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 14px 12px 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Pixso-frame-2_518 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_518 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  position: relative;
}

.Pixso-paragraph-2_519 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  font-weight: Bold;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_520 {
  width: 100%;
  height: 1px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  background-color: rgba(255, 255, 255, 0);
}

.Pixso-frame-2_521 {
  width: auto;
  height: 22px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
  background-color: rgba(168, 85, 247, 0.0941176488995552);
}

.frame-content-2_521 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 100%;
  position: relative;
}

.Pixso-paragraph-2_522 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(168, 85, 247, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_523 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  font-weight: Regular;
  color: rgba(156, 163, 175, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_524 {
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_524 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.Pixso-frame-2_525 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 255, 255, 0.03921568766236305);
}

.frame-content-2_525 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_525 {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.stroke-2_525 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 0.10196078568696976);
}

.Pixso-paragraph-2_526 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  font-weight: Medium;
  color: rgba(229, 231, 235, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_527 {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 215, 0, 0.0941176488995552);
}

.frame-content-2_527 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.stroke-wrapper-2_527 {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.stroke-2_527 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 215, 0, 0.20000000298023224);
}

.Pixso-paragraph-2_528 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: SemiBold;
  color: rgba(255, 215, 0, 1);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}
