
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_175 {
        width: 100%;
height: 900px;
overflow: hidden;
position: relative;
flex-shrink: 0;
background-color: rgba(10, 10, 15, 1);
      }
.Pixso-frame-2_176 {
        width: 1440px;
height: 110px;
position: absolute;
left: 0px;
top: 64px;
display: flex;
flex-direction: row;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20110'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C255%2C255%2C0.03137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C255%2C255%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-2_176 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 40px 0px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_178 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
      }
.Pixso-frame-2_179 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-paragraph-2_180 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_181 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_182 {
        font-size: 13px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(255, 215, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_183 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
      }
.Pixso-paragraph-2_184 {
        font-size: 28px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_185 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 215, 0, 0.0941176488995552);
      }
.frame-content-2_185 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_185 {
        position: relative;
width: auto;
height: 26px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_185 {
        position: absolute;
inset: 0px;
border-radius: 100px 100px 100px 100px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 215, 0, 0.250980406999588);
      }
.Pixso-paragraph-2_186 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 215, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_187 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(255, 255, 255, 0);
      }
.Pixso-frame-2_188 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.Pixso-frame-2_189 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.Pixso-frame-2_190 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
border-radius: 18px 18px 18px 18px;
box-shadow: 0px 0px 10px 0px rgba(16, 185, 129, 0.25098039215686274) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2036%2036'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(16%2C185%2C129%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(5%2C150%2C105%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-vector-2_191 {
        width: 44.44%;
height: 44.44%;
background-image: url(@/assets/images/check1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 27.78%;
right: 27.78%;
top: 27.78%;
bottom: 27.78%;
      }
.Pixso-paragraph-2_193 {
        font-size: 12px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(16, 185, 129, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-rectangle-2_194 {
        width: 40px;
height: 2px;
position: relative;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%202'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(16%2C185%2C129%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_195 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-frame-2_196 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
border-radius: 18px 18px 18px 18px;
box-shadow: 0px 0px 12px 0px rgba(255, 215, 0, 0.25098039215686274) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2036%2036'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-paragraph-2_197 {
        font-size: 15px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(10, 10, 15, 1);
width: 36px;
height: 36px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-paragraph-2_198 {
        font-size: 12px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 215, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-rectangle-2_199 {
        width: 40px;
height: 2px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.Pixso-frame-2_200 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-frame-2_201 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.stroke-wrapper-2_201 {
        position: relative;
width: 36px;
height: 36px;
flex-shrink: 0;
      }
.stroke-2_201 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.14901961386203766);
      }
.Pixso-paragraph-2_202 {
        font-size: 15px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(156, 163, 175, 1);
width: 36px;
height: 36px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-paragraph-2_203 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-rectangle-2_204 {
        width: 40px;
height: 2px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.Pixso-frame-2_205 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-frame-2_206 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.stroke-wrapper-2_206 {
        position: relative;
width: 36px;
height: 36px;
flex-shrink: 0;
      }
.stroke-2_206 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.14901961386203766);
      }
.Pixso-paragraph-2_207 {
        font-size: 15px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(156, 163, 175, 1);
width: 36px;
height: 36px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-paragraph-2_208 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-rectangle-2_209 {
        width: 40px;
height: 2px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.Pixso-frame-2_210 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
      }
.Pixso-frame-2_211 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 18px 18px 18px 18px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.stroke-wrapper-2_211 {
        position: relative;
width: 36px;
height: 36px;
flex-shrink: 0;
      }
.stroke-2_211 {
        position: absolute;
inset: 0px;
border-radius: 18px 18px 18px 18px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.14901961386203766);
      }
.Pixso-paragraph-2_212 {
        font-size: 15px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(156, 163, 175, 1);
width: 36px;
height: 36px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-paragraph-2_213 {
        font-size: 12px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-rectangle-2_177 {
        width: 1440px;
height: 1px;
position: absolute;
left: 0px;
top: 173px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%201'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0.25098039215686274)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_214 {
        width: 1440px;
height: auto;
position: absolute;
left: 0px;
top: 174px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_214 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: flex-start;
padding: 24px 40px 24px 40px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_215 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_215 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_215 {
        position: relative;
width: 100%;
height: 160px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_215 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 215, 0, 0.14901961386203766);
      }
.Pixso-rectangle-2_216 {
        width: 1360px;
height: 1px;
position: absolute;
left: 0px;
top: 0px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201360%201'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0.4)'%20offset%3D'0.5'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C0)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_217 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_217 {
        display: flex;
flex-direction: row;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_218 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_219 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(255, 255, 255, 0);
      }
.Pixso-paragraph-2_220 {
        font-size: 22px;
font-family: "Noto Sans SC-Black";
font-weight: Black;
color: transparent;
background-clip: text;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2049%2032'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_221 {
        width: 100%;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.Pixso-frame-2_222 {
        width: 180px;
height: 8px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 4px 4px 4px 4px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20180%208'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-paragraph-2_223 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_224 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_224 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_225 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(16, 185, 129, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_226 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 215, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_227 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_228 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_228 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_228 {
        position: relative;
width: 100%;
height: 160px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_228 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(239, 68, 68, 0.14901961386203766);
      }
.Pixso-frame-2_229 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_229 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_230 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/trianglealert.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_231 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_232 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(255, 255, 255, 0);
      }
.Pixso-frame-2_233 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
border-radius: 8px 8px 8px 8px;
background-color: rgba(239, 68, 68, 0.0941176488995552);
      }
.Pixso-paragraph-2_234 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: rgba(239, 68, 68, 1);
width: 32px;
height: 32px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-paragraph-2_235 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(156, 163, 175, 1);
width: 300px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_236 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
line-height: 150%;
color: rgba(156, 163, 175, 1);
width: 300px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_237 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 6px 6px 6px 6px;
background-color: rgba(239, 68, 68, 0.0941176488995552);
      }
.frame-content-2_237 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_237 {
        position: relative;
width: auto;
height: 28px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_237 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(239, 68, 68, 0.20000000298023224);
      }
.Pixso-paragraph-2_238 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(239, 68, 68, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_239 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_239 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_239 {
        position: relative;
width: 100%;
height: 160px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_239 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(59, 130, 246, 0.14901961386203766);
      }
.Pixso-frame-2_240 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_240 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_241 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/folder.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_243 {
        font-size: 13px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_244 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_244 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_245 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_245 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_246 {
        font-size: 28px;
font-family: "Noto Sans SC-Black";
font-weight: Black;
color: rgba(59, 130, 246, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_247 {
        font-size: 11px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_248 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_248 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_249 {
        font-size: 28px;
font-family: "Noto Sans SC-Black";
font-weight: Black;
color: rgba(168, 85, 247, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_250 {
        font-size: 11px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_251 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_251 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_252 {
        font-size: 28px;
font-family: "Noto Sans SC-Black";
font-weight: Black;
color: rgba(16, 185, 129, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_253 {
        font-size: 11px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_258 {
        width: 1440px;
height: 482px;
position: absolute;
left: 0px;
top: 418px;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_258 {
        display: flex;
flex-direction: row;
gap: 32px;
align-items: flex-start;
padding: 24px 40px 24px 40px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_259 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_259 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_260 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_261 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_261 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_261 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_261 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(16, 185, 129, 0.14901961386203766);
      }
.Pixso-frame-2_262 {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 6px 6px 6px 6px;
box-shadow: 0px 0px 6px 0px rgba(16, 185, 129, 0.25098039215686274) ;
background-color: rgba(16, 185, 129, 1);
      }
.Pixso-frame-2_263 {
        width: 0px;
height: 0px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-frame-2_264 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_264 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_265 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_266 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_267 {
        width: auto;
height: 22px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: rgba(16, 185, 129, 0.0941176488995552);
      }
.frame-content-2_267 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px 0px 10px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_268 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(16, 185, 129, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_269 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_269 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_269 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_269 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 215, 0, 0.14901961386203766);
      }
.Pixso-frame-2_270 {
        width: 12px;
height: 12px;
position: relative;
flex-shrink: 0;
border-radius: 6px 6px 6px 6px;
box-shadow: 0px 0px 8px 0px rgba(255, 215, 0, 0.3764705882352941) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2012%2012'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_271 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_271 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_272 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_273 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_274 {
        width: auto;
height: 22px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 215, 0, 0.0941176488995552);
      }
.frame-content-2_274 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px 0px 10px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_275 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(255, 215, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_276 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: rgba(18, 18, 26, 1);
      }
.frame-content-2_276 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_276 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_276 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.Pixso-frame-2_277 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 6px 6px 6px 6px;
background-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.stroke-wrapper-2_277 {
        position: relative;
width: 12px;
height: 12px;
flex-shrink: 0;
      }
.stroke-2_277 {
        position: absolute;
inset: 0px;
border-radius: 6px 6px 6px 6px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.14901961386203766);
      }
.Pixso-frame-2_278 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_278 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_279 {
        font-size: 14px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_280 {
        font-size: 12px;
font-family: "Noto Sans SC-Regular";
font-weight: Regular;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_281 {
        width: auto;
height: 22px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 255, 255, 0.03921568766236305);
      }
.frame-content-2_281 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px 0px 10px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_282 {
        font-size: 11px;
font-family: "Noto Sans SC-SemiBold";
font-weight: SemiBold;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_283 {
        width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_283 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_284 {
        font-size: 16px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_285 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.frame-content-2_285 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_285 {
        position: relative;
width: 100%;
height: 44px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_285 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.Pixso-vector-2_286 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/filetext.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_292 {
        font-size: 14px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(229, 231, 235, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_293 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(255, 255, 255, 0);
      }
.Pixso-vector-2_294 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/chevronright1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_296 {
        width: 100%;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 4px 15px 0px rgba(255, 215, 0, 0.30196078431372547) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20340%2044'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(255%2C215%2C0%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(255%2C183%2C0%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-2_296 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_297 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_307 {
        width: 7.7%;
height: 75%;
background-image: url(@/assets/images/Vector_2_307.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 12.5%;
bottom: 12.5%;
      }
.Pixso-vector-2_308 {
        width: 75%;
height: 8.33%;
background-image: url(@/assets/images/Vector_2_308.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 41.67%;
      }
.Pixso-rectangle-2_309 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
      }
.stroke-wrapper-2_309 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 12.5%;
bottom: 12.5%;
width: 75%;
height: 75%;
      }
.stroke-2_309 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(0, 0, 0, 1);
      }
.Pixso-paragraph-2_298 {
        font-size: 14px;
font-family: "Noto Sans SC-Bold";
font-weight: Bold;
color: rgba(10, 10, 15, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_299 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.05882352963089943);
      }
.frame-content-2_299 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_299 {
        position: relative;
width: 100%;
height: 44px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_299 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.10196078568696976);
      }
.Pixso-vector-2_300 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/zap.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_302 {
        font-size: 14px;
font-family: "Noto Sans SC-Medium";
font-weight: Medium;
color: rgba(229, 231, 235, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_303 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: rgba(255, 255, 255, 0);
      }
.Pixso-vector-2_304 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/chevronright0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

